.security_header
{
    color: #324763;
    font-size: 40px;
    line-height: 36px;
    font-weight: 300;
    font-family: graphik, sans-serif;
    margin-bottom: .5rem;
    margin-top: 0;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center !important;
    justify-content: center;
    margin-top: 100px;
}
.security_subheader
{
    color: #4e4e4e;
    font-family: museo-sans, sans-serif;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center !important;
}